version: '3'
services:
  tomcat:
    container_name: tomcat
    image: tomcat
    ports:
      - "8090:8080"
    volumes:
      - "/home/jenkins/hello-world/webapp/target/webapp.war:/usr/local/tomcat/webapps/webapp.war"
    networks:
      - net
networks:
  net: 
